# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# exporting
csv_file = os.path.join('..', 'WeatherPy', 'Output', 'city_weather.csv')

city_df = pd.read_csv(csv_file)
city_df

,City ID,City,Country,Lat,Lng,Temperature,Humidity,Clouds,Wind Speed
0,2514216,Manacor,ES,39.5696,3.2096,68.18,77,0,4.41
1,364933,Umm Kaddadah,SD,13.6017,26.6876,82.92,51,13,3.83
2,2448083,Agadez,NE,19.7500,10.2500,77.13,20,4,9.04
3,4033557,Tautira,PF,-17.7333,-149.1500,80.62,74,19,20.54
4,1296736,Shwebo,MM,22.5667,95.7000,77.31,91,100,6.08
...,...,...,...,...,...,...,...,...,...
558,2172797,Cairns,AU,-16.9167,145.7667,81.81,56,40,14.97
559,145531,Saurimo,AO,-9.6608,20.3916,66.20,77,56,5.77
560,2015913,Suntar,RU,62.1444,117.6319,52.47,40,95,12.77
561,3579925,St. George's,GD,12.0564,-61.7485,82.08,83,20,10.36
562,927856,Livingstonia,MW,-10.6060,34.1063,67.57,66,65,2.71

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
#gmaps setup
gmaps.configure(api_key=g_key)

In [4]:
locations = city_df[["Lat", "Lng"]]
humidity = city_df["Humidity"]

fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False)
heat_layer.max_intensity = 100
heat_layer.point_radius = 5


fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
ideal_df = city_df[(city_df['Temperature'] >= 75) & (city_df['Temperature'] <= 90)]
ideal_df = ideal_df[ideal_df['Wind Speed'] <= 10]
ideal_df = ideal_df[ideal_df['Clouds'] <= 10]
ideal_df = ideal_df[ideal_df['Humidity'] <= 70]
hotel_df = ideal_df
hotel_df.head()

,City ID,City,Country,Lat,Lng,Temperature,Humidity,Clouds,Wind Speed
2,2448083,Agadez,NE,19.7500,10.2500,77.13,20,4,9.04
19,5546220,Saint George,US,37.1041,-113.5841,80.17,16,1,1.99
50,1142226,Dawlatabad,AF,36.4141,64.9053,87.06,12,0,3.69
74,1517637,Ushtobe,KZ,45.2514,77.9838,82.87,16,10,9.26
87,1791779,Wanning,CN,18.8003,110.3967,88.48,62,9,8.08

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df['Hotel Name'] = ""
hotel_df

,City ID,City,Country,Lat,Lng,Temperature,Humidity,Clouds,Wind Speed,Hotel Name
2,2448083,Agadez,NE,19.7500,10.2500,77.13,20,4,9.04,
19,5546220,Saint George,US,37.1041,-113.5841,80.17,16,1,1.99,
50,1142226,Dawlatabad,AF,36.4141,64.9053,87.06,12,0,3.69,
74,1517637,Ushtobe,KZ,45.2514,77.9838,82.87,16,10,9.26,
87,1791779,Wanning,CN,18.8003,110.3967,88.48,62,9,8.08,
91,1649150,Bengkulu,ID,-3.8004,102.2655,87.30,60,5,7.94,
98,118994,Rafsanjān,IR,30.4067,55.9939,80.62,5,0,1.28,
111,1807112,Huangzhou,CN,30.4500,114.8000,86.18,58,0,5.88,
118,1173464,Kohlu,PK,29.8962,69.2520,86.59,30,0,2.46,
199,8079926,Labuhan,ID,-6.8844,112.2051,89.92,55,5,9.08,
245,1563281,Tuy Hoa,VN,13.0833,109.3000,88.47,61,9,6.55,
276,1631766,Pekalongan,ID,-6.8886,109.6753,87.58,61,5,8.12,
295,1789289,Dayong,CN,25.0209,118.2898,89.28,66,9,4.59,
300,2210247,Tripoli,LY,32.8752,13.1875,79.02,48,0,9.55,
301,1651810,Airai,TL,-8.9266,125.4092,78.69,32,0,6.06,
357,5072006,Lincoln,US,40.8000,-96.6670,75.85,68,1,5.01,
383,1513491,Yangi Marg`ilon,UZ,40.4272,71.7189,84.87,16,0,2.30,
419,1863495,Gushikawa,JP,26.3544,127.8686,87.39,70,1,9.22,
420,1160939,Iranshahr,IR,27.2025,60.6848,86.34,7,0,4.61,
429,1519422,Semey,KZ,50.4111,80.2275,79.02,14,0,6.71,
454,72181,Marzuq,YE,14.4000,46.4667,84.72,17,0,4.54,
488,1161724,Chabahar,IR,25.2919,60.6430,84.65,67,2,6.08,
509,1175296,Kalat,PK,29.0225,66.5916,77.52,11,0,2.06,
525,1135689,Kunduz,AF,36.7290,68.8570,88.66,9,0,0.09,
533,3995236,Mulegé,MX,26.8833,-111.9833,86.05,60,5,0.56,
537,102527,Sakakah,SA,29.9697,40.2064,78.37,20,0,9.82,
543,1651103,Atambua,ID,-9.1061,124.8925,86.27,46,3,2.80,

In [7]:
for index, row in hotel_df.iterrows():
    try:
        
        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

        params = {
        "keyword": "hotel",
        "radius": 5000,
        "key": g_key,
        }


        lat = row['Lat']
        lng = row['Lng']

        params['location'] = f"{lat}, {lng}"

        hotel_data = requests.get(base_url, params=params).json()
        
        hotel_df.loc[index, "Hotel Name"] = hotel_data["results"][0]["name"]
        
    except IndexError:
        
        hotel_df.loc[index, "Hotel Name"] = "NaN"
        
hotel_df

,City ID,City,Country,Lat,Lng,Temperature,Humidity,Clouds,Wind Speed,Hotel Name
2,2448083,Agadez,NE,19.7500,10.2500,77.13,20,4,9.04,NaN
19,5546220,Saint George,US,37.1041,-113.5841,80.17,16,1,1.99,Red Lion Hotel & Conference Center St. George
50,1142226,Dawlatabad,AF,36.4141,64.9053,87.06,12,0,3.69,NaN
74,1517637,Ushtobe,KZ,45.2514,77.9838,82.87,16,10,9.26,NaN
87,1791779,Wanning,CN,18.8003,110.3967,88.48,62,9,8.08,Wanning Hotel
91,1649150,Bengkulu,ID,-3.8004,102.2655,87.30,60,5,7.94,NaN
98,118994,Rafsanjān,IR,30.4067,55.9939,80.62,5,0,1.28,Hilan Hotel
111,1807112,Huangzhou,CN,30.4500,114.8000,86.18,58,0,5.88,NaN
118,1173464,Kohlu,PK,29.8962,69.2520,86.59,30,0,2.46,Miyan Khan Hotel
199,8079926,Labuhan,ID,-6.8844,112.2051,89.92,55,5,9.08,NaN
245,1563281,Tuy Hoa,VN,13.0833,109.3000,88.47,61,9,6.55,Sala TuyHoa Beach Hotel
276,1631766,Pekalongan,ID,-6.8886,109.6753,87.58,61,5,8.12,Namira Syariah Hotel
295,1789289,Dayong,CN,25.0209,118.2898,89.28,66,9,4.59,Yongchang Hotel
300,2210247,Tripoli,LY,32.8752,13.1875,79.02,48,0,9.55,Radisson Blu Al Mahary Hotel
301,1651810,Airai,TL,-8.9266,125.4092,78.69,32,0,6.06,NaN
357,5072006,Lincoln,US,40.8000,-96.6670,75.85,68,1,5.01,"Holiday Inn Express & Suites Lincoln Downtown,..."
383,1513491,Yangi Marg`ilon,UZ,40.4272,71.7189,84.87,16,0,2.30,Ikathouse
419,1863495,Gushikawa,JP,26.3544,127.8686,87.39,70,1,9.22,C R inn
420,1160939,Iranshahr,IR,27.2025,60.6848,86.34,7,0,4.61,هتل قصر
429,1519422,Semey,KZ,50.4111,80.2275,79.02,14,0,6.71,Hotel Europa
454,72181,Marzuq,YE,14.4000,46.4667,84.72,17,0,4.54,NaN
488,1161724,Chabahar,IR,25.2919,60.6430,84.65,67,2,6.08,Lipar Hotel
509,1175296,Kalat,PK,29.0225,66.5916,77.52,11,0,2.06,Balochistan Hotel
525,1135689,Kunduz,AF,36.7290,68.8570,88.66,9,0,0.09,paiwand Qalubha hotel
533,3995236,Mulegé,MX,26.8833,-111.9833,86.05,60,5,0.56,Cuesta Real Hotel
537,102527,Sakakah,SA,29.9697,40.2064,78.37,20,0,9.82,Lavina Hotel
543,1651103,Atambua,ID,-9.1061,124.8925,86.27,46,3,2.80,Hotel Matahari

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [9]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
fig


# Display figure

Figure(layout=FigureLayout(height='420px'))

In [ ]:
#Inference: The most ideal vactaion destinations at the time of analysis looks more towards the northern hemisphere in north america, europe and south east asia.